.main{
    height: 91vh;
    background-image: url('../images/bg.png');
    background-color: var(--bg-color);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    
}
.textWrapper{
    padding: 2rem;
}