/** @format */

:root {
    --theme: #017129;
    --img-size: 90px;
    --result-size: 90px;
    --game-width: 840px;
}
.mainBlock {
    width: var(--game-width);
    height: 300px;
    background-color: var(--theme);
    border-radius: 10px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-rows: 3fr 1.5fr;
    justify-items: center;
}
.elementle {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/bg.png');
    background-color: var(--bg-color);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 87.5vh;
}
.imgWrapper {
    height: var(--img-size);
    width: var(--img-size);
    padding: 25px;
}
.formWrapper {
    width: 100%;
}
#elementinput {
    width: 75%;
    height: 50px;
    font-size: xx-large;
}
.resultsBlock {
    width: var(--game-width);
    display: flex;
    flex-direction: column;
}
.resultsWrapper {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 50px;
    justify-items: center;
}
.resultCorrect {
    width: var(--result-size);
    height: var(--result-size);
    border-radius: 50%;
    color: white;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(106, 61%, 37%);
}
.resultIncorrect {
    width: var(--result-size);
    height: var(--result-size);
    border-radius: 50%;
    color: white;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 80%, 52%);
}
.categoriesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 50px;
}
.categories {
    font-size: medium;
}
.main {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Wyśrodkuj zawartość w pionie */
    padding: 1rem;
}
.img {
    width: 5rem;
    height: 6rem;
}
.mainText {
    background: linear-gradient(
        to right,
        var(--box1-color),
        var(--box2-color),
        var(--box3-color),
        var(--box4-color)
    );
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 5rem;
}
.elementinput {
    width: 75%;
    height: 50px;
    font-size: xx-large;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
}
