:root{
    --theme :#017129;
    --img-size:96px
}
.mainBlock{
    width: 30%;
    height: 300px;
    background-color: var(--theme);
    border-radius: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-rows: 3fr 1.5fr;
    justify-items: center;
    
}
#elementle {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
.imgWrapper{
    height: var(--img-size);
    width: var(--img-size);
    padding: 25px;
}
.formWrapper{
    width: 100%;
}
#elementinput{
    width: 75%;
    height: 50px;
    border-radius: 10px;
    font-size:xx-large;
}