:root{
  --bg-color:#312f30;
  --box1-color:#167d88;
  --box2-color:#da3933;
  --box3-color:#fec756;
  --box4-color:#017129;
  --header-color:#212020;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/bg.png");
  background-color: var(--bg-color);
  background-size: cover;
  
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--header-color);
  padding: 1rem;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
}

#main {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Wyśrodkuj zawartość w pionie */
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 5rem;
}

footer {
  background-color: var(--header-color);
  color: #fff;
  text-align: center;
  padding: 1rem;
}
img{
  font-size: medium;
  align-self: center;
}
a:hover{
  text-decoration: underline;
  color:bisque;
}
.box {
  width: 25vw;
  min-width: 350px;
  height: 12vh;
  background-color: var(--box-color) ;
  margin: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
  border: 0.3rem solid black;
  font-size: 2.75rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
}
.box:hover {
  transform: scale(1.1);
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;

}
.img{
    width: 5rem;
    height: 6rem;
    margin-top: 3rem;
}
.text{
  min-width: 250px;
  text-align: start;
}
#footer-link{
  text-decoration: underline;
  font-style: italic;
  color: inherit;
}
#box1{
  background-color: var(--box1-color);
}
#box2{
  background-color: var(--box2-color);
}
#box3{
  background-color: var(--box3-color);
}
#box4{
  background-color: var(--box4-color);
}
.image{
  height: 64px;
  width: 64px;
}
#mainText{
  background: linear-gradient(to right, var(--box1-color), var(--box2-color), var(--box3-color), var(--box4-color));
  background-clip: text;
  color: transparent;
  display: inline-block;
}